.QueenCard {
  border: 1px solid #ededed;
  box-shadow: 9px 13px 24px 0 rgba(0, 0, 0, 0.22);
  box-sizing: border-box;
  height: 180px;
  padding: 16px;
  margin: 16px 0px;
  width: 100%;
}

.QueenCard > div {
  display: inline-block;
}

.QueenCard-image {
  height: 100%;
  object-fit: contain;
  width: 33%;
}

.QueenCard-content {
  margin-left: 16px;
  vertical-align: top;
}
